<footer>
    <div class="row">
        <div class="col-lg-4">
            <div class="border mb-2">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="border mb-2">
                <a class="text-center fw-bold fs-2" href="{{path('homepage')}}">MotorbikeCorner</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="border mb-2">
            </div>
        </div>
    </div>
</footer>